PORT=3000
CLIENT_URL=http://localhost:8100
JWT_SECRET=develop_secret_cambiar_en_produccion
JWT_EXPIRES_IN=2h

DATABASE_URL="postgresql://usuario:password@localhost:5433/municipal_request_tracker?schema=public"